# hammerspoon
/hammerspoon/Spoons

# nvim
/nvim/plugin/

# obsidian
/obsidian/workspace.json

# sway
/sway/extensions/swaymonad/swaymonad

# logs
/utils/fresh-install/linux/installation_log.txt

# zsh
/zsh/conf/aliases/sns
/zsh/conf/functions/sns
