/fish/completions/

# foot symlink
/foot/foot.ini

# fuzzel symlink
/fuzzel/fuzzel.ini

# hammerspoon
/hammerspoon/dots/Spoons/*.spoon

# nvim
/nvim/dots/plugin/
/nvim/plugin/

# obsidian
/obsidian/workspace.json

# sway
/sway/extensions/swaymonad/swaymonad

# logs
/utils/fresh-install/linux/installation_log.txt

# zsh
/zsh/conf/aliases/sns
/zsh/conf/functions/sns
