# btop
btop.log
/btop/dots/btop.conf

# halloy
/halloy/dots/history/
/halloy/dots/halloy.log
/halloy/dots/window.json
/halloy/dots/dashboard.json.gz

# nushell
/nushell/dots/history.txt

# nvim
lazy-lock.json

# zsh
.zcompdump
.zsh_history
.zsh_sessions
/zsh/dots/conf/.zcompdump
/zsh/dots/conf/.zsh_history
/zsh/dots/conf/.zsh_sessions
/zsh/dots/conf/package.json
/zsh/dots/conf/package-lock.json
