keybinds clear-defaults=true {
    normal {
        bind "Ctrl p" { SwitchToMode "tmux"; }
    }

    tmux {
        // basics
        bind "Esc" { SwitchToMode "Normal"; }
        bind "d" { Detach; SwitchToMode "Normal"; }
        bind "q" { Quit; SwitchToMode "Normal"; }


        // tabs
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }

        bind "w" { CloseTab; SwitchToMode "Normal"; }


        // panes
        bind "|" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "_" { NewPane "Down"; SwitchToMode "Normal"; }

        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }

        bind "H" { Resize "Left"; SwitchToMode "Normal"; }
        bind "J" { Resize "Down"; SwitchToMode "Normal"; }
        bind "K" { Resize "Up"; SwitchToMode "Normal"; }
        bind "L" { Resize "Right"; SwitchToMode "Normal"; }

        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "F" { ToggleFocusFullscreen; SwitchToMode "Normal"; }

        // bind "r" { SwitchToMode "renamepane"; }
        // bind "R" { SwitchToMode "renametab"; }

        bind "w" { CloseFocus; SwitchToMode "Normal"; }
    }

    // renametab {
    // }

    // renamepane {
    // }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
    everforest-dark {
        bg "#2b3339"
        fg "#d3c6aa"
        black "#4b565c"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        white "#d3c6aa"
        orange "#FF9E64"
    }
    everforest-light {
        bg "#fff9e8"
        fg "#5c6a72"
        black "#5c6a72"
        red "#f85552"
        green "#8da101"
        yellow "#dfa000"
        blue "#3a94c5"
        magenta "#df69ba"
        cyan "#35a77c"
        white "#dfddc8"
        orange "#FF9E64"
    }
    gruvbox-dark {
        fg 213 196 161
        bg 40 40 40
        black 60 56 54
        red 204 36 29
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 251 241 199
        orange 214 93 14
    }
    gruvbox-light {
        fg 124 111 100
        bg 251 82 75
        black 40 40 40
        red 205 75 69
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 213 196 161
        orange 214 93 14
    }
    nord {
        fg 216 222 233 // #D8DEE9
        bg 46 52 64 // #2E3440
        black 59 66 82 // #3B4252
        red 191 97 106 // #BF616A
        green 163 190 140 // #A3BE8C
        yellow 235 203 139 // #EBCB8B
        blue 129 161 193 // #81A1C1
        magenta 180 142 173 // #B48EAD
        cyan 136 192 208 // #88C0D0
        white 229 233 240 // #E5E9F0
        orange 208 135 112 // #D08770
    }
    one-half-dark {
        fg 220 223 228
        bg 40 44 52
        black 27 29 35
        red 227 63 76
        green 152 195 121
        yellow 229 192 123
        blue 97 175 239
        magenta 198 120 221
        cyan 86 182 194
        white 233 225 254
        orange 216 133 76
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "one-half-dark"
theme "gruvbox-dark"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"
scrollback_editor "/usr/local/bin/nvim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
