@define-color red #ea6962;
@define-color orange #e78a4e;
@define-color yellow #d8a657;
@define-color green #a9b665;
@define-color aqua #89b482;
@define-color blue #7daea3;
@define-color purple #d3869b;
@define-color bg_yellow #d8a657;
@define-color bg_red #ea6962;
@define-color bg_green #a9b665;
@define-color grey0 #7c6f64;
@define-color grey1 #928374;
@define-color grey2 #a89984;
@define-color fg0 #d4be98;
@define-color fg1 #ddc7a1;
