@define-color bg0 #1d2021;
@define-color bg1 #282828;
@define-color bg2 #282828;
@define-color bg3 #3c3836;
@define-color bg4 #3c3836;
@define-color bg5 #504945;
@define-color bg_statusline1 #282828;
@define-color bg_statusline2 #32302f;
@define-color bg_statusline3 #504945;
@define-color bg_visual_green #333e34;
@define-color bg_visual_red #442e2d;
@define-color bg_visual_blue #2e3b3b;
@define-color bg_visual_yellow #473c29;
@define-color bg_current_word #32302f;
@define-color bg_diff_red #3c1f1e;
@define-color bg_diff_green #32361a;
@define-color bg_diff_blue #0d3138;
